header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
}

#logo {
  cursor: pointer;
  width: 10rem;
  transition: transform 0.5s, opacity 0.3s;
}

#logo:hover {
  transform: scale(1.1);
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 0px 20px;
}

nav ul li a {
  transition: all 0.3s ease 0s;
  font-weight: bold;
  font-size: 1.25rem;
}

nav ul li a:hover {
  opacity: 0.7;
}

#header-icons {
  display: flex;
  align-items: center;
}

#header-icons svg {
  cursor: pointer;
  margin: 0 10px;
  transition: all 0.3s ease 0s;
}

#logo:active,
#header-icons svg:hover {
  opacity: 0.7;
}

nav ul li a:active,
#header-icons svg:active {
  opacity: 0.5;
}