#hero {
  background: var(--col1);
}

#title {
  padding: 40px 0;
  font-size: 5rem;
  line-height: 90px;
}

.text {
  margin: auto;
  width: 60%;
  font-size: 1.6rem;
}

.wave {
  width: 100%;
  display: block;
}

#about-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.about-card {
  margin: 25px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
}

.about-card svg {
  width: 3.6rem;
  margin-top: 25px;
  margin-bottom: 10px;
}

.about-card p {
  font-size: 1.1rem;
  padding: 0 20px;
  margin: 0 auto 25px auto;
  width: 70%;
}

#about button,
#current-popenstein button {
  background-color: var(--col1);
}

#join-us {
  background-color: var(--col2);
}

#join-us h2 {
  margin: 0;
}

#join-us button {
  margin: 20px 30px;
}

.socials {
  padding: 30px 0;
}

.socials svg {
  fill: var(--bg-col);
  margin: 0 15px;
  width: 3.5rem;
  transition: transform 0.7s ease 0s, opacity 0.3s ease 0s;
}

.socials svg:hover {
  transform: scale(1.1);
}

.socials svg:active {
  opacity: 0.7;
}

#current-popenstein {
  display: none;
}
