/* 1440px Display */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Color Palette */
  --bg-col: #fffdfa;
  --col1: #c2bbf0;
  --col2: #8fb8ed;
  --col3: #62bfed;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-col);
  font-family: "Hind Madurai", sans-serif;
  font-weight: 300;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Prompt", sans-serif;
}

h2 {
  margin: 20px 0;
  font-size: 3rem;
}

button {
  font-family: "Hind Madurai", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  background-color: var(--bg-col);
  border: none;
  height: 55px;
  width: 300px;
  margin: 40px 30px;
  border-radius: 25px;
  cursor: pointer;
  transition: transform 0.7s ease 0s, opacity 0.3s ease 0s;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  opacity: 0.7;
}

a {
  color: black;
  text-decoration: none;
}

.invisible {
  display: none;
}

.link {
  text-decoration: underline;
  transition: all 0.3s ease 0s;
}

.link:hover {
  background-color: black;
  color: var(--bg-col);
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* RESPONSIVE DESIGN - Default: 1440px*/

@media screen and (max-width: 940px) {
  button {
    width: 32vw;
    height: 5.85vw;
  }

  button p {
    font-size: 2.15vw;
  }
}